.preview {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }

  button {
    width: 150px;
  }

  .img {
    position: relative;

    @media (max-width: 1200px) {
      display: none;
    }

    .img1 {
      position: relative;
      z-index: 1;
      object-fit: cover;
    }
    .img2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(20px) translateY(20px);
      object-fit: cover;
    }
  }
}
